.card {
  position: relative;
  display: none;
}
.card img {
  display: none;
}
.card .front,
.card .back {
  position: absolute;
  left: 0;
  top: 0;
}
.card .mdl-card {
  width: 100%;
  height: 320px;
}
.card .avatar {
  position: absolute;
  right: 30px;
  top: 30px;
  border-radius: 50%;
}
.card .front .mdl-card__title,
.card .back .mdl-card__title {
  color: #fff;
}
.card .front .mdl-card__title {
  background-color: rgb(244,67,54);
}
.card .back .mdl-card__title {
  background-color: rgb(63, 81, 181);
}
.card .mdl-button {
  transition: none !important;
}

/*default*/

body {
  overflow-x: hidden;
}

.header-white {
  background-color: #fff;
  color: #000;
}

.header-white small {
  color: #999;
}

.header-white .mdl-navigation__link {
  color: #424242;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.container .mdl-cell-custom {
  height: 320px;
  position: relative;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: linear;
  height: 20px;
  width: 20px;
  border: 4px solid rgb(63, 81, 181);
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
}
